<div class="our-team">
    <div class="picture">
        <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
    </div>
    <div class="team-content">
        <h3 class="name">@Person?.FirstName @Person?.LastName</h3>
        <h4 class="title">Web Developer</h4>
    </div>
</div>