################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PresentationBlazor/.vs/PresentationBlazor/v17
