################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/PresentationBlazor/.vs/PresentationBlazor/v17
/PresentationBlazor/03.HelloWorldServer/obj
/PresentationBlazor/03.HelloWorldWebAssembly/obj
/PresentationBlazor/08.Events/obj
/PresentationBlazor/08.Forms/obj
/PresentationBlazor/10.JsInterop/obj
/PresentationBlazor/.vs
/PresentationBlazor/03.HelloWorldServer/bin/Debug/net6.0
/PresentationBlazor/08.Events/bin/Debug/net6.0
/PresentationBlazor/10.JsInterop/bin/Debug/net6.0
/PresentationBlazor/08.Forms/bin/Debug/net6.0
/PresentationBlazor/03.HelloWorldWebAssembly/bin/Debug/net6.0
