@inherits LayoutComponentBase

<PageTitle>Dr Who Layout</PageTitle>

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="img/drwho.jpg" style="width:400px;" alt="DrWho">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>