@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using _09.ShareData.Data
@inject WeatherForecastService ForecastService
@inject AppState AppState

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span>WHAT IS MY COLOR ? IT IS @AppState.SelectedColour </span>
}

@code {
    private Data.WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
