@page "/"

<PageTitle>Events</PageTitle>

<PersonCard Person="@person"/>

<button class="pretty-button" @onclick="RenameToLaura">Rename to Laura</button>
<button class="pretty-button" @onclick="@(() => person.FirstName = "Michele")">Rename to Michele with lambda</button>

